html{
	height: 100%;
}

body{
	overflow-x: hidden;
	background-color: #F6F8FA !important;
	max-height: 100%;
}

.container{
	max-width: 100%;
}

header{
	margin-right: 10px;
	align-items: center;
	z-index: 1000;
	position: fixed;
	padding-top: 10px;
	top: 0;
	color: #b0e0e6;
}

header .logo a{
	text-decoration: none;
	color: #b0e0e6;
	cursor: pointer;
}

.menu ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.menu-title{
	position: relative;
	padding: 0.5% 1%;
	white-space: nowrap;
	cursor: pointer;
}

./*menu-title:before{
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	border-bottom: solid 2px #b0e0e6;
	animation: borderAnimationOut 0.5s linear forwards;
	cursor: pointer;
}

.menu-title.active:before{
	content:'';
	border-bottom: solid 2px #CD853F; 
}*/

.menu-title a:hover{
	/*animation: borderAnimationIn 0.25s linear forwards;*/
	color:black;
}

@keyframes borderAnimationIn{
	from{
		width: 0;
	}

	to{
		width: 100%;
	}
}

@keyframes borderAnimationOut{
	from{
		width: 100%;
	}

	to{
		width: 0%;
	}
}

.menu-title a{
	text-decoration: none;
	color: #b0e0e6;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
}

.menu-title.active a{
	color: #CD853F;
	cursor: pointer;
}


/*footer*/
footer{
	text-align: center;
	background-color: #228b22;
	
}
